[application]
    name = "go-api"
    api_uri = "/api/v1"
    mode = "debug"     # debug/release

[log]    
    level = "debug" 
    encoding = "json"
    output = "../log/go-api.log"
    
[web]
    host = "0.0.0.0"
    port = 9090

[database]
    host = "192.168.13.71"
    port = 3306
    user = "test"
    password = "test"
    dbname = "test"

[file]
    path = "upload/"

[queue]
    host = "192.168.13.71"
    port = 5672
    user = "test"
    password = "test"
    exchange = "go-api"